<div class="container padding-issue-in-new">
  <div class="well" style="width: 100%;margin-top: 100px;height: auto;">
    <h3 class='align-center-text'>Edit Employee</h3>
    <br>
    <%= form_for @employee, url: employee_path, :method=> :put do |f| %>
      <% if @employee.errors.any? %>
        <div id="error_explanation">
          <h4><%= pluralize(@employee.errors.count, "error") %> prohibited this user from being saved:</h4>
          <ul>
            <% @employee.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class='row fix-input-filed-center'>
        <div class="col-sm-8 col-xs-12">
          <div class="row">
            <div class="form-group">
              <div class="col-sm-12">
                <%= f.label :first_name %>
                <%= f.text_field :first_name, class: 'form-control' %>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="form-group">
              <div class="col-sm-12">
                <%= f.label :last_name %>
                <%= f.text_field :last_name, class: 'form-control' %>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="form-group">
              <div class="col-sm-12">
                <%= f.label :email %>
                <%= f.email_field :email, class: 'form-control' %>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="form-group">
              <div class="col-sm-12">
                <%= f.label :user_name %>
                <%= f.text_field :user_name, class: 'form-control' %>
              </div>
            </div>
          </div>
          <br>
          <div class="container-fluid">
            <div class="row" style="margin-left: 80px;">
              <div class="col-xs-6">
                <div class="form-group">
                  <%= f.submit "Save", :class=>"btn btn-primary"  %>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <%= link_to "Cancel", employees_path, :class=>"btn btn-danger" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
