<div id="content" class="container body-img" style="margin-top: 150px;">
  <h2 class='heading-fix'> List of Subjects</h2>
  <div>
    <%= link_to "Create Subject", new_subject_path, :class=>"btn btn-primary", :style=>"float :right;" %>
  </div>

  <div class="table-responsive list-view div-documents-list-section fix-position-table">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
        <!-- <th class="entry-num">Entry Number</th> -->
          <th>Name</th>
          <th>Type</th>
          <th>Batch</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody class="table-body-background change-font">
        <% @subjects.each do |subject| %>
          <tr>
            <td><%= subject.name %></td>
            <td><%= subject.subject_type %></td>
            <td><%= subject.batch.name %></td>
            <td><%= link_to 'Delete', subject_path(subject, :url=>"subject_url"), method: :delete, data:{confirm: 'Are you want to delete subject?'}, :class=> "" %> | <%= link_to 'Edit', edit_subject_path(subject), :class=> '' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>