<div id="content" class="container body-img" style="margin-top: 150px;">
  <h3 class='heading-fix'> List of School</h3>
  <div>
    <%= link_to "Create School", new_school_path, :class=>"btn btn-primary", :style=>"float :right;" %>
  </div>

  <div class="table-responsive list-view div-documents-list-section fix-position-table">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <!-- <th class="entry-num">Entry Number</th> -->
          <th>Name</th>
          <th>Email</th>
          <th>Telephone</th>
          <th>Address</th>
          <th>City</th>
          <th>Region</th>
          <th>Country</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody class="table-body-background change-font">
        <% @schools.each do |school| %>
          <tr>
            <td><%= school.name %></td>
            <td><%= school.email %></td>
            <td><%= school.telephone %></td>
            <td><%= school.address %></td>
            <td><%= school.city %></td>
            <td><%= school.region %></td>
            <td><%= school.country %></td>
            <td><%= link_to 'Delete', school_path(school, :url=>"school_url"), method: :delete, data:{confirm: 'Are you want to delete school?'}, :class=> "" %> | <%= link_to 'Edit', edit_school_path(school), :class=> '' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>