<div id="content" class="container body-img fix-width-header">
  <h2 class='heading-fix'>School</h2>
  <div>
    <a href="<%= schools_path %>" class='btn btn-normal create-btn-position'>Back</a>
  </div>
<ul class="fix-distance-show-school">
  <li><b>Name:</b> <%= @school.name %></li></br>
  <li><b>Address:</b> <%= @school.address %></li></br>
  <li><b>Email:</b> <%= @school.email %></li></br>
  <li><b>Telephone:</b> <%= @school.telephone %></li></br>
  <li><b>City:</b> <%= @school.city %></li></br>
  <li><b>Coutry:</b> <%= @school.country %></li></br>
  <li><b>Region:</b> <%= @school.region %></li></br>
  <li><b>Currency Type:</b> <%= @school.currency_type %></li></br>
</ul>
</div>
