<!DOCTYPE html>
<html>
<head>
  <title>Edughana</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render :partial => "layouts/common/header" %>
<div id="div_flash_message" class="container" >
			<%= render :partial=>"layouts/common/flash_messages" -%>
		</div>
<%= yield %>

</body>
</html>
